<h1>Update the task</h1>
<p><% if @task.completed %>
      <i class="fa-solid fa-square-check"></i>
    <% else %>
      <i class="fa-solid fa-square"></i>
    <% end %>
  <%= link_to "Completed", task_done_path(@task), method: :patch %></p>

<%= form_for(@task) do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %><br/>
  <%= f.label :details %>
  <%= f.text_field :details %><br/>
  <%= f.submit %>
<% end %>

<%= link_to "Back to the list", tasks_path %>
